body {
    font-family: "Roboto";
    color: #F9FAF8;
    margin: 0;
    padding: 0;
}

.ui {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    height: 900px;
    background-color: #3882F6;
}

button {
    font-size: 24px;
    border-radius: 5px;
    color: #F9FAF8;
    background-color: #3882F6;
    border: solid #F9FAF8;
    padding: 16px;
}

.score {
    display: flex;
    gap: 8px;
}

.choices {
    display: flex;
    gap: 8px;
}